.span
  %p 
    %h2 Sign in
  %br
  ~ form_tag signin_path(role: 'user') do
    .errors.span12{style: "margin-bottom: 20px"}
      = notice
      = render partial: "shared/errors"
    .field.span12
      .span2
        %label Email
      .span4= text_field_tag :username
    .field.span12
      .span2
        %label Password
      .span4= password_field_tag :password
    .field.span12
      .span1= submit_tag 'Sign In'
