.span9.no-lmargin.notice= notice
.span9.no-lmargin
  %p
    %h2 Settings
.span9
  .span9.no-lmargin
    .span1.no-lmargin
      Email
    .span7.no-lmargin
      = current_user.username
  .span9.no-lmargin
    .span1.no-lmargin
      Password
    .span7.no-lmargin
      ********
  .span9.no-lmargin{style: "margin-top: 10px;"}
    %p= link_to 'edit', '#edit_account', class: 'show_form'
  #edit_account.span9.no-lmargin{class: "#{@display_form==true ? '' : 'hidden'}"}
    ~ form_for @user, url: admin_update_user_path(id: @user.id) do |f|
      .errors.span12{style: "margin-bottom: 20px"}
        = render partial: "shared/errors"
      .field.span12
        .span1
          %label Email
        .span4= f.email_field :username
      .field.span12
        .span1
          %label New Password
        .span4= f.password_field :password
      .field.span12
        .span1
          %label Password Confirmation
        .span4= password_field_tag :password_confirmation
      .field.span12{style: "margin-bottom: 20px;"}
        .span1= submit_tag 'Update'
.span9
  .span2.no-lmargin
    Upgrade location cost
  #cost_value.span1.no-lmargin
    = number_to_currency(@upgrade_cost)
  .span1.no-lmargin
    = link_to 'edit', '#edit_cost', class: 'show_form'
#edit_cost.hidden.span9
  ~ form_tag admin_update_cost_path, remote: true do
    = text_field_tag :cost
    = submit_tag 'save'
.span9.no-lmargin
  %p
    %h2 Users Summary
.span9
  .span2.no-lmargin
    Registered Users
  .span1= @registed_users.size
.span9
  .span2.no-lmargin
    Confirmed Users
  .span1= @confirmed_users.size
.span9
  .span2.no-lmargin
    Unconfirmed Users
  .span1= @registed_users.size - @confirmed_users.size

.span9.no-lmargin
  %p
    %h2 Locations Summary
.span9
  .span2.no-lmargin
    Registered Location
  .span1= @locations.size
.span9
  .span2.no-lmargin
    Actived Locations
  .span1= @actived_locations.size
.span9
  .span2.no-lmargin
    Unactived Locations
  .span1= @unactived_locations.size       
:javascript
  $(document).ready(function(){
    
    $("a.show_form").click(function(e){
      $element = $(this).attr('href');
      $($element).toggleClass("hidden");
      text = $(this).html();
      if(text=='edit'){
        text = 'hide form';
      }else{
        text = 'edit';
      }
      $(this).html(text);
      return false;
    });
    
  });
