- bg_class = 'even'
- @locations.each do |location|
  - bg_class = bg_class == 'odd' ? 'even' : 'odd'
  .span12.no-lmargin
    .span2.no-lmargin{class: "#{bg_class}"}
      = location.name
    .span3.no-lmargin{class: "#{bg_class}"}
      = location.description
      &nbsp;
    .span3.no-lmargin{class: "#{bg_class}"}
      = location.address
    .span2.no-lmargin{class: "#{bg_class}"}
      = location.user.username
    .span1.no-lmargin{class: "#{bg_class}", id: "act_text_#{location.id}"}
      = location.active?
    .span1.no-lmargin{class: "#{bg_class}", id: "act_ctrl_#{location.id}"}
      = render partial: "active_location", locals: {location: location}
