.span12.no-lmargin
  %h2 Import Loctions from file
  ~ form_tag admin_import_locations_path, multipart: true do
    .span10.no-lmargin
      .span1 CSV file
      .span6= file_field_tag :file, size: '13'
    .span10.no-lmargin= submit_tag "Upload"
.span12.no-lmargin
  %p
    %h2 Locations
%br
%p
  = link_to 'actived locations', admin_location_filter_path(status: 'active'), class: 'waiting', remote: true
  |
  = link_to 'unactived locations', admin_location_filter_path(status: 'unactive'), class: 'waiting', remote: true
.span12.no-lmargin.shadow_box{style: "width: 1140px;"}
  .span12.no-lmargin
    .span2.no-lmargin.th
      Name
    .span3.no-lmargin.th
      Description
    .span3.no-lmargin.th
      Address
    .span2.no-lmargin.th
      User
    .span1.no-lmargin.th
      Activate
    .span1.no-lmargin.th
      &nbsp;
  #location_table
    = render partial: 'location_table'
:javascript
  $(document).ready(function(){
  
    $("a.waiting").live('click', function(){
      $("#fading-image").show();
    });
    
  });
