.span9.notice= notice
.span12
  %p
    %h2 Upgrade Account
.span12
  %p
    %h3 Card Infomation
.span12
  .span9
    ~ form_tag update_card_path do
      #card_error.span9.no-lmargin{style: "color: red;"}
        - unless @card_errors.blank?
          - @card_errors.each do |msg|
            = msg
            %br
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'first_name'}Name on card
        .span7.no-lmargin
          = text_field_tag '', @first_name, class: 'first-name'
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'number'}Number
        .span7.no-lmargin
          = text_field_tag '', "#{('xxxx-xxxx-xxxx-' + @active_card.last4) if @active_card}", class: 'card-number'
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'type'}Type
        .span7.no-lmargin
          = select_tag '', options_for_select(["Visa","MasterCard","American Express","JCB","Diners Club","Discover"], "#{@active_card.type if @active_card}"), class: 'card-type'
      .span9.no-lmargin
        .span2.no-lmargin
          %label Expiration Date
        .span7.no-lmargin
          %span{style: "width: 100px; float: left;"}
            %div= select_year((@active_card.exp_year if @active_card) || Date.today, start_year: Time.now.year, end_year: Time.now.year + 95)
          %span{style: "width: 100px; float: left;"}
            %div= select_month((@active_card.exp_month if @active_card) || 1, use_month_numbers: true)
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'cvc'}CVC
        .span7.no-lmargin
          = text_field_tag '', '', class: 'card-cvc'
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'address'}Address
        .span7.no-lmargin
          = text_field_tag '', "#{@active_card.address_line1 if @active_card}", class: 'address-line1'
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'address'}Address
        .span7.no-lmargin
          = text_field_tag '', "#{@active_card.address_line2 if @active_card}", class: 'address-line2'
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'state'}State
        .span7.no-lmargin
          = text_field_tag '', "#{@active_card.address_state if @active_card}", class: 'state'
      .span9.no-lmargin
        .span2.no-lmargin
          %label{for: 'zip'}Zip
        .span7.no-lmargin
          = text_field_tag '', "#{@active_card.address_zip if @active_card}", class: 'zip'
      .span9.no-lmargin.submit
        .span9.no-lmargin.submit
          = submit_tag :save
