- @location ||= Location.new
#step0_c.inside.hidden
  .progress-bar.step0
  .copy Adding your company to StartupShopKC is extremely easy. Simply follow the 4 step process. You can also highlight your company to blah blah blah
  %button(href="#step1_c" class="continue") I'm ready. let's begin!   
#step1_c.inside.hidden
  .progress-bar.step1
  .copy Start by specifying a category for your company. Choose wisely.
  ~ form_tag '', class: 'form' do
    .input
      %i.icon-list-ul.form-icon
      Category
      = select_tag :category, options_for_select(Location::CATEGORIES), class: 'category-select'
  %button(href="#step2_c" class="continue") Okey! Next step!
#step2_c.inside.hidden
  .progress-bar.step2
  .copy Next we'll need some important information. Spill it!
  ~ form_for @location, remote: true, html: {class: 'form', :multipart => true} do |f|
    .input.errors
    .input
      .label
        %i.icon-flag.form-icon
        Company Name
      .field
        = f.text_field :name, class: 'text-input required'
    .input
      .label
        %i.icon-map-marker.form-icon
        Address
      .field
        = f.text_field :address, class: 'text-input required'
    .input
      .label
        %i.icon-phone.form-icon
        Phone Number
      .field
        = f.text_field :phone, class: 'text-input required'
    .input
      .label
        %i.icon-envelope.form-icon
        Email
      .field
        = f.text_field :email, class: 'text-input required'
    .input
      .label
        %i.icon-globe.form-icon
        Web
      .field
        = f.text_field :url, class: 'text-input'
    .input
      .label
        %i.icon-twitter.form-icon
        Twitter
      .field
        = f.text_field :twitter, class: 'text-input'
    .input
      .label
        %i.icon-facebook.form-icon
        Facebook
      .field
        = f.text_field :facebook, class: 'text-input'
    .input
      .label
        %i.icon-comment.form-icon
        Description
      .field
        = f.text_area :description, class: 'text-input required'
    .input
      .label
        %i.icon-picture.form-icon
        Logo
      .field
        = file_field_tag :logo
  %button(href="#step3_c" class="continue") Awesome! What's next?
    
#step3_c.inside.hidden
  .progress-bar.step3
  .copy Would you like to highlight your company? It's a great way to get noticed!
  %button.continue.no No thanks
  %button.continue.yes Yes please!
