#popover.hidden
  - if current_user
    .background
      .title 
        %span.add-title Add your company or event
        = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
      #step_choose.inside
        .copy Choose type to add
        %button(id="add_company" href="#step0_c" class="continue") Add Company
        %button(id="add_event" href="#step0_e" class="continue") Add Event
      #popover_company
        = render partial: 'add_company'
      #popover_event
        = render partial: 'add_event'
  - else
    .background
      .title
        %span.add-title Login
        = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
      #popover_login.inside
        = render partial: 'shared/login_popup'
:javascript

  $("#popover a[href=close]").click(function(e){
    $("#popover span.add-title").html("Add your company or event");
    $("div[id*=step]").addClass('hidden');
    $("#step_choose").removeClass('hidden');
    $("#popover").addClass('hidden');
    $("#main-menu").removeClass("hidden");
    e.preventDefault();
  });
     
  $("button.continue").click(function(e){ 
    next_step = $(this).attr('href');
    if(next_step=="#signin"){
      $("#popover_login form").submit();
    }else if(next_step=="#step0_c"){
      $('.add-title').text("Add your company");
    }else if(next_step=="#step0_e"){
      $('.add-title').text("Add your event");
    }
    if(next_step=="#step2_c"){
      category = $("#step1_c select#category").val();
      if(category == "Startup"){
        category = $("#step1_c select#startup_sub").val();
      }
      $("#step2_c form").append("<input type='hidden' name='location[category]' value='" + category + "'/>");
      moveToStep(next_step);
    }else if(next_step=="#step3_c"){
      if(validate_fields("#step2_c")==true){
        $("#fading-image").show();
        $("#step2_c form").submit();
      }
    }else if(next_step=="#step2_e"){
      valid_f = validate_fields("#step1_e");
      valid_add = validate_pair($("#event_address"), $("#event_company"));
      if(valid_add==false){
        $("#step1_e .location").append("<div class='label' style='margin-left: 0'><span class='error'>Input address or choose from your companies</span></div>");
      }
      if(valid_f==true && valid_add==true){
        $("#fading-image").show();
        $("#step1_e form").submit();
      }
    }else{
      moveToStep(next_step);
    }
    e.preventDefault();
  });  
  
  function moveToStep(step){
    $("div[id*=step]").addClass('hidden');
    $(step).removeClass('hidden');
  }
  
  $("input#use_company").click(function(){
    if($(this).is(':checked')){
      $("#event_address").attr("disabled", "disabled");
      $("#my_companies").removeClass("hidden");
    }else{
      $("#event_address").removeAttr("disabled");
      $("#my_companies").addClass("hidden");
    }
  });
  
  function validate_pair(e1, e2){
    result = false;
    if(e1.val() != "" || e2.val() != ""){
      result = true;
    }
    return result;
  }
  
  function validate_fields(element){
    result = true;
    $(element + " span.error").remove();
    require_fields = $(element).find(".required");
    $.each(require_fields, function(){
      if($(this).val()=="" || $(this).val()==null){
        $(this).parent().append("<span class='error'>can't be blank</span>");
        result = false;
      }
    });
    return result;
  }  
