- @events.each do |event|
  .left-menu.full.slide-out.hidden{id: "event-info_#{event.id}"}
    .background
      .title
        = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "event-close"
      .inside.inside-full
        .single-company
          .single-company-info.events-info
            %i.icon-pushpin
            %span.title= event.name
            .info-item
              %i.icon-calendar
              %span= event.e_date
            .info-item
              %i.icon-time
              %span= event.e_time
            .info-item
              %i.icon-map-marker
              %span= event.e_address
            .info-item 
              %i.icon-phone
              %span= event.phone
            .info-item
              %i.icon-envelope
              %span= event.email
            .info-item
              %i.icon-globe
              %span= event.url
          .company-description
            = event.description

#events.left-menu.full.hidden
  .background
    .title 
      = link_to "<i class='icon-arrow-left title-icon'></i>".html_safe, "event-close"   
      %span.title-copy
        Upcoming Events
    .inside.inside-full.events-menu
      %ul.list-events
        - @events.each do |event|
          - date = DateTime.strptime(event.e_time, "%m/%d/%Y")
          - data = {"pos"=> {"lat"=> event.latitude, "lng"=> event.longitude}, "name"=> "#{event.name}", "address"=> "#{event.e_address}", "e_time"=> "#{event.e_time}"}.to_json
          %li.c-pointer{id: "#{event.id}", data: data}
            %span
              = date.strftime("%b")
              %strong= date.day
            %div
              %strong= event.name
              %small 9:20 - 10:30
:javascript
  $("ul.list-events li").click(function(){
    id = $(this).attr("id");
    $("div[id*=event-info_]").addClass('hidden');
    $("#event-info_" + id).removeClass('hidden');
    data = JSON.parse($(this).attr("data"));
    pos = data.pos;
    latLng = new google.maps.LatLng(pos.lat, pos.lng);
    content = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.name + "</h3>" + data.e_time + "<br/>" + data.address + "</div></div>";
    make_overlay(latLng, content, '');      
    $("#mymap").gmap3({action: 'setCenter', args:[latLng]});
    $("#mymap").gmap3('get').setZoom(16);
  });
  
  $("a[href=event-close]").click(function(e){
    $("#events").addClass('hidden');
    $("div[id*=event-info_]").addClass('hidden');
    e.preventDefault();
  });
