- @locations.each do |loc|
  - cat = loc.category || 'all'
  .map-location(data-jmapping="{id: '#{loc.id}', point: {lat: #{loc.latitude}, lng: #{loc.longitude}}, category: '#{cat}'}")
    .info-box
      %p= loc.name
      %p= loc.email
