#main-menu.left-menu.left-haft-top
  .background
    .title
      %i.icon-list-ul.title-icon
      %span.title-copy Categories
    .inside.inside-full
      .category= render partial: 'category_item', locals: {cat_name: "Events", icon_class: "icon-pushpin", c_class: "event_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Startup", icon_class: "icon-upload", c_class: "parent-menu"}
      .sub-category.hidden
        - Location::STARTUP_SUBS.each do |cat|
          .category= render partial: 'category_item', locals: {cat_name: cat, icon_class: "", c_class: "category_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Accelerator", icon_class: "icon-dashboard", c_class: "category_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Coworking", icon_class: "icon-print", c_class: "category_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Investor", icon_class: "icon-money", c_class: "category_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Education", icon_class: "icon-book", c_class: "category_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Service Providers", icon_class: "icon-wrench", c_class: "category_item"}
      .category= render partial: 'category_item', locals: {cat_name: "Community", icon_class: "icon-signal", c_class: "category_item"}
= render partial: "news_feeds/list"

#company.left-menu.full.slide-out.hidden
  .background
    .title
      = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
    .inside.inside-full
      .single-company
        #company-image
          = image_tag 'think-big.png'
        .single-company-info
          .left-icon
            %i.icon-map-marker.left-location-icon
          .info-part
            %span#company_name.title Think Big Partners
            .info.location
              .address Kansas
              .city Kansas
          .info-item
            .left-icon
              %i.icon-phone.company-info-icon.phone-icon
            .info-part
              %span.phone
          .info-item
            .left-icon
              %i.icon-envelope.company-info-icon.email-icon
            .info-part
              %span.email
          .info-item.url
            .left-icon
              %i.icon-globe.company-info-icon
            .info-part
              %span.url startupshopkc.com
          .info-item.twitter
            .left-icon
              %i.icon-twitter.company-info-icon.twitter-iconn
            .info-part
              %span.twitter @suskc
          .info-item.facebook
            .left-icon
              %i.icon-facebook-sign.company-info-icon
            .info-part
              %span.facebook /suskc
        .company-description
          Think Big Partners is an early-stage business incubator, startup accelerator and mentorship-based
          collaborative network that takes ideas, opportunities and entrepreneurs and makes them big.
        .single-company-info
          .title Events
          #com_events
#category.left-menu.full.hidden
  .background
    .title
      %i#cat-tit-icon.icon-save.title-icon
      %span.title-copy Digital Company
      = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
    .inside.inside-full
      #companies
      .back
        = link_to "<i class='icon-arrow-left back-icon'></i>".html_safe, "close"
        %span= link_to 'back', 'close'

- if params[:action] == 'search'
  #search_result.left-menu.full       
    .background
      .title
        %span.title-copy Search Result
        = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
      .inside.inside-full
        - @locations.each do |loc|
          - logo = loc.logo.blank? ? "/assets/think-big.png" : loc.logo  
          - data = {"pos"=> {"lat"=> loc.latitude, "lng"=> loc.longitude}, "name"=> "#{loc.name}", "phone" => "#{loc.phone}", "email"=> "#{loc.email}", "address"=> "#{loc.address}", "id"=> "#{loc.id}", "url"=> "#{loc.url}", "twitter"=> "#{loc.t_user}", "facebook"=> "#{loc.f_user}", "description"=> "#{loc.description}", "logo"=> "#{logo}", "events" => loc.js_events}.to_json
          .category.company
            .left-icon
              = link_to "<i class='icon-map-marker'></i>".html_safe, '#', data: data, class: 'location_item'
            .info-part
              %span.title=link_to loc.name, '#', data: data, class: 'location_item'
              = link_to "<i class='icon-arrow-right arrow-icon'></i>".html_safe, '#', data: data, class: 'location_item'
        .back
          = link_to "<i class='icon-arrow-left back-icon'></i>".html_safe, "close"
          %span=link_to 'back', 'close'

= render partial: "events_menus"

#add_something 
  = render partial: 'add_something'
            
:javascript
  $("a[href=add_something]").click(function(e){
    $("#popover").removeClass('hidden');
    $(".left-menu").addClass("hidden");
    $(".right-menu").addClass("hidden");
    e.preventDefault();
  });
  
  $("a[href=login_popup]").click(function(e){
    $("#popover").removeClass('hidden');
    $(".left-menu").addClass("hidden");
    $(".right-menu").addClass("hidden");
    e.preventDefault();
  });
  
  $(".loc_info .close a").click(function(e){
    $(".loc_info").addClass('hidden');
    e.preventDefault();
  });
  
  $("#category a[href=close]").click(function(e){
    $("#category").addClass('hidden');
    $("#company").addClass('hidden');
    e.preventDefault();
  });
  
  $("#search_result a[href=close]").click(function(e){
    $("#search_result").addClass('hidden');
    $("#company").addClass('hidden');
    e.preventDefault();
  });
  
  $("#company a[href=close]").click(function(e){
    $("#company").addClass('hidden');
    e.preventDefault();
  });
  
  function getIconClass(category){
    icon_class = '';
    if(category=='Startup'){
      icon_class = 'icon-fire';
    }else if(category=='Investor'){
      icon_class = 'icon-money';
    }else if(category=='Coworking'){
      icon_class = 'icon-print';
    }else if(category=='Accelerator'){
      icon_class = 'icon-dashboard';
    }else if(category=='Education'){
      icon_class = 'icon-book';
    }else if(category=='Service Providers'){
      icon_class = 'icon-wrench';
    }else if(category=='Community'){
      icon_class = 'icon-signal';
    }
    return icon_class;
  }
  
  //menu control
  $(".left-menu a.parent-menu").click(function(e){
    e.preventDefault();
    $(".left-menu .sub-category").toggleClass('hidden');
    toggleIcon($("span.arrow .arrow-icon"));
  });
  
  function toggleIcon(e){
    if(e.hasClass("icon-arrow-down")){
      e.removeClass("icon-arrow-down");
      e.addClass("icon-arrow-up");
    }else{
      e.removeClass("icon-arrow-up");
      e.addClass("icon-arrow-down");
    }
  }
  
  //update map, show locations by category
  $(".left-menu a.category_item").click(function(e){
    e.preventDefault();
    $(".location_item").removeClass('active');
    $("#fading-image").show();
    $("#mymap").gmap3({action:'clear'});
    $url = $(this).attr("href");
    category = $(this).attr("rel");
    icon_class = getIconClass(category);
    data_obj = {category: category}
    $("#category .title-copy").html(category);
    $("#category .title i#cat-tit-icon").removeClass();
    $("#category .title i#cat-tit-icon").addClass("title-icon " + icon_class);
    $.ajax({
      type: "GET",
      url: $url,
      data: data_obj,
      success: function(result) {
        $("#category.left-menu").removeClass('hidden');
        list = result;
        $("#category .inside #companies").text('');
        for(i=0; i<list.length; i++){
          id = list[i].data.id;
          data= '{"pos": {"lat": ' + list[i].lat + ', "lng": ' + list[i].lng + '}, "name": "' + list[i].data.name + '", "phone": "' + list[i].data.phone+ '", "email": "' + list[i].data.email + '", "address": "' + list[i].data.address + '", "id": "' + list[i].data.id + '", "url": "' + list[i].data.url + '", "twitter": "' + list[i].data.twitter + '", "facebook": "' + list[i].data.facebook + '", "description": "' + list[i].data.description+ '", "logo": "' + list[i].data.logo + '", "events": ' + list[i].data.events + ', "category": "' + list[i].data.category + '"}';
          inside_content="<div class='category company'><div class='left-icon'><a href='#', data='" + data + 
          "', class='location_item'><i class='" + icon_class + 
          "'></i></a></div><div class='info-part'><span class='title'><a href='#', data='" + data + "', class='location_item'>" +
          list[i].data.name + "</a></span><a href='#', data='" + data + 
          "', class='location_item'><i class='icon-arrow-right arrow-icon'></i></a><div class='info'><div class='address'>" + 
          list[i].data.address + "</div><div class='city'>" + list[i].data.email + "</div></div></div></div>";

          $("#category .inside #companies").append(inside_content);
        }
        addMarkers(list);
        $("#fading-image").hide();
      }
    });
  });     

  $(".event_item").live('click', function(e){
    $("#events.left-menu").removeClass("hidden");
    e.preventDefault();
  });
  
  $(".location_item").live('click', function(){
    $(".location_item").removeClass('active');
    $(this).addClass('active');
    data = JSON.parse($(this).attr("data"));
    pos = data.pos;
    icon_class = getIconClass(data.category);
    latLng = new google.maps.LatLng(pos.lat, pos.lng);
    content1 = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.name + "</h3>" + data.email + "<br/>" + data.address + "</div></div>";
    content = "<div class='popover'><div class='pop-content'><div class='item-pop head-title-pop'><i class='category_item " + icon_class + "'></i><span class='title'>" + data.name + "</span></div><div class='item-pop'><i class='icon-map-marker'></i><span class='title'>" + data.address + "</span></div><div class='item-pop'><i class='icon-globe company-info-icon'></i><span>" + data.url + "</span></div><span class='arr'></span></div></div>";
    make_overlay(latLng, content, data.id);
    load_company_menu(data);       
    $("#mymap").gmap3({action: 'setCenter', args:[latLng]});
    $("#mymap").gmap3('get').setZoom(16);
  })
  
  $(".marker_info .close a").live('click', function(e){
    $("#mymap").gmap3({action: 'clear', name: 'overlay'});
  });

  var cluster;  
  $(document).ready(function(){
    sreen_w=screen.width - 420;
    $("#mymap").css('width', sreen_w);
    $("#map_wrapper").css('width', sreen_w);
    $("#mymap").gmap3({ action: 'init',
      options:{
        center:[39.0997265, -94.5785667],
        zoom: 12,
        minZoom: 10,
        panControl: false,
        zoomControlOptions: {
          position: google.maps.ControlPosition.RIGHT_CENTER
        }
      },
      callback: function(map){
        waitForBounds(map);
      },
      events:{
        click: function(map, event){
          //addMarkerToCluster($(this), event.latLng);
        },
        rightclick: function(map, event){
          //addMarkersToCluster($(this), event.latLng);
        }
      }
    });
  });
      
  function waitForBounds(map){
    var ne, sw, bounds = map.getBounds();
    if (!bounds){
      google.maps.event.addListenerOnce(map, 'bounds_changed', 
        function() {
          waitForBounds(map)
        }
      );
      return;
    }
    ne = bounds.getNorthEast();
    sw = bounds.getSouthWest();
    list = #{Point.get_points(@locations, @events).to_json.html_safe}
    addMarkers(list);
  }
  
  function addMarkers(list){
    $('#mymap').gmap3(
      { action: 'addMarkers',
        radius: 100,
        markers: list,
        clusters:{
      	  // This style will be used for clusters with more than 0 markers
      		0: {
       		  content: '<div class="cluster cluster-1">CLUSTER_COUNT</div>',
       			width: 53,
       			height: 52
       		},
       	  // This style will be used for clusters with more than 20 markers
        	20: {
        	  content: '<div class="cluster cluster-2">CLUSTER_COUNT</div>',
        		width: 56,
        		height: 55
        	},
          // This style will be used for clusters with more than 50 markers
        	50: {
            content: '<div class="cluster cluster-3">CLUSTER_COUNT</div>',
         	  width: 66,
          	height: 65
          }
        },
        callback: function(ref){ // get the cluster reference and save it in global variable
          cluster = ref;
        },
        cluster:{
          events:{
            click: function(cluster, event, data) {
              points = getPoints(data.latLng, list)
              if(points.length > 1){
                companies="";
                events="";
                for(i=0; i< points.length; i++){
                
                  id = points[i].data.id;
                  idata = points[i].data;
                  if(points[i].data.ptyle == 'event'){
                    pdata = '{"pos": {"lat": ' + points[i].lat + ', "lng": ' + points[i].lng + '}, "name": "' + 
                    idata.name + '", "e_time": "' + idata.e_time + '", "recurring": "' + idata.recurring + 
                    '", "url": "' + idata.url + '", "description": "' + idata.description + '"}';
                    
                    item= "<a href='#', data='" + pdata + "', class='event_item'>" + idata.name + "</a>";
                    events = events + "<li>" + item + "</li>";
                  }else{
                    pdata= '{"pos": {"lat": ' + points[i].lat + ', "lng": ' + points[i].lng + '}, "name": "' + 
                    idata.name + '", "email": "' + idata.email + '", "address": "' + 
                    idata.address + '", "id": "' + idata.id + '", "url": "' + 
                    idata.url + '", "twitter": "' + idata.twitter + '", "facebook": "' + 
                    idata.facebook + '", "description": "' + idata.description + 
                    '", "logo": "' + idata.logo + '"}';
                    
                    item= "<a href='#', data='" + pdata + "', class='location_item'>" + idata.name + "</a>";
                    companies = companies + "<li>" + item + "</li>";
                  }
                }
                content = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + points.length + " Companies/Events here: </h3>"+ companies + events + "</div></div>";
                make_overlay(data.latLng, content, '');
              }
              cluster.map.panTo(data.latLng);
              cluster.map.setZoom(cluster.map.getZoom() + 1);
            },
            mouseover: function(cluster, event, data){
              //$(cluster.getDOMElement()).css('border', '1px solid #FF0000');
            },
            mouseout: function(cluster, event, data){
              //$(cluster.getDOMElement()).css('border', '0px');
            }
       	  }
        },
        marker: {
          options: {
            icon: "../assets/bg-digital.png"
          },
          events:{  
            click: function(marker, event, data){
              icon_class = getIconClass(data.category);
              $.get("#{locations_by_category_path}", {category: data.category, icon_class: icon_class});
              
              pos = marker.getPosition();
              info = '';
              if(data.ptype=="event"){
                info = data.e_time;
                content1 = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.name + "</h3>" + info + "</div></div>";
                content = "<div class='popover'><div class='pop-content'><div class='item-pop head-title-pop'><i class='category_item icon-pushpin'></i><span class='title'>" + data.name + "</span></div><div class='item-pop'><i class='icon-map-marker'></i><span class='title'>" + data.address + "</span></div><div class='item-pop'><i class='icon-time company-info-icon'></i><span>" + data.e_time + "</span></div><span class='arr'></span></div></div>";
                content1 = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.name + "</h3>" + info + "</div></div>";
                $(".left-menu.full").addClass('hidden');
                $("#events").removeClass('hidden');
                $("div[id*=event-info_]").addClass('hidden');
                $("#event-info_" + data.id).removeClass('hidden');
                make_overlay(pos, content, "");
              }else{
                info = data.email + "<br/>" + data.address;
                content = "<div class='popover'><div class='pop-content'><div class='item-pop head-title-pop'><i class='category_item " + icon_class + "'></i><span class='title'>" + data.name + "</span></div><div class='item-pop'><i class='icon-map-marker'></i><span class='title'>" + data.address + "</span></div><div class='item-pop'><i class='icon-globe company-info-icon'></i><span>" + data.url + "</span></div><span class='arr'></span></div></div>";
                content1 = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.name + "</h3>" + info + "</div></div>";
                make_overlay(pos, content, data.id);
                load_company_menu(data);
              }                 
              marker.map.panTo(pos);
              marker.map.setZoom(16);
            },
            mouseout: function(){
              //$(this).gmap3({action:'clear', name:'overlay'});
            }
          }
        }
      }
    );
  }
  
  function make_overlay(pos, content, id){
    $(".loc_info").addClass('hidden');
    $(".location_item").removeClass('active');
    if(id != ''){
      $("li#"+id+" a").addClass('active');
    }
    $("#mymap").gmap3({action:'clear', name:'overlay'});
    $("#mymap").gmap3(
      { action:'clear', name:'overlay'},
      { action:'addOverlay',
        latLng: pos,
        content: content,
        offset: {
          x: 10,
          y: -10
        }
      }
    );  
  }
  
  function load_company_menu(data){
    $("#category .title i#cat-tit-icon").removeClass();
    $("#category .title i#cat-tit-icon").addClass("title-icon " + getIconClass(data.category));
    $("#category .title-copy").html(data.category);
    $("#category.left-menu").removeClass('hidden');
    $("#company-image img").attr('src', data.logo)
    $("#company #company_name").html(data.name);
    $("#company .address").html(data.address);
    $("#company .city").html("Kansas");
    $("#company span.phone").html(data.phone);
    $("#company span.email").html("<a href='mailto:" + data.email + "'>" + data.email + "</a>");
    url = data.url;
    
    if(url.indexOf("http") == -1){
      url = "http://" + url;
    }
  
    $("#company span.url").html("<a href='" + url + "'>" + data.url + "</a>");
    $("#company span.twitter").html("<a href='http://twitter.com/" + data.twitter + "'>@" + data.twitter + "</a>");
    $("#company span.facebook").html("<a href='http://www.facebook.com/" + data.facebook + "'>/" + data.facebook + "</a>");
    $("#company .company-description").html(data.description);
    if(data.url.length < 1 || data.url == 'http://'){
      $("#company .info-item.url").addClass('hidden');
    }
    if(data.twitter.length < 1){
      $("#company .info-item.twitter").addClass('hidden');
    }
    if(data.facebook.length < 1){
      $("#company .info-item.facebook").addClass('hidden');
    }
    $("#company #com_events").html('');
    for(i=0; i< data.events.length; i++){
      $("#company #com_events").html("<div class='info-item'>" + data.events[i].name + "</div>");
    }
    $("#company.left-menu").removeClass('hidden');
  }

  function getPoints(pos, list){
    points = []
    for (i = 0; i < list.length; i++){
      if(list[i].lat.toFixed(7) == pos.lat().toFixed(7) && list[i].lng.toFixed(7) == pos.lng().toFixed(7)){
        points.push(list[i]);
      }
    }
    return points;
  }
