.left-menu
  .background
    .title
      %i.icon-list-ul.title-icon
      %span.title-copy Categories
    .inside
      .category
        = render partial: 'category_item', locals: {cat_name: "Digital Company", icon_class: "icon-save"}
      .category
        = render partial: 'category_item', locals: {cat_name: "Investor", icon_class: "icon-money"}
      .category
        = render partial: 'category_item', locals: {cat_name: "Coworking Space", icon_class: "icon-print"}
      .category
        = render partial: 'category_item', locals: {cat_name: "Accelerator", icon_class: "icon-dashboard"}
      .category
        = render partial: 'category_item', locals: {cat_name: "Freelancer", icon_class: "icon-pencil"}
      .category
        = render partial: 'category_item', locals: {cat_name: "Startup", icon_class: "icon-fire"}
      .category
        = render partial: 'category_item', locals: {cat_name: "Hiring", icon_class: "icon-briefcase"}

#category.left-menu.full.hidden
  .background
    .title
      %i.icon-save.title-icon
      %span.title-copy Digital Company
      = link_to "<i class='icon-remove-sign title-close-icon'></i>".html_safe, "close"
    .inside.inside-full
      #company
      .back
        = link_to "<i class='icon-arrow-left back-icon'></i>".html_safe, "close"
        %span= link_to 'back', 'close'
        
:javascript
  $(".loc_info .close a").click(function(){
    $(".loc_info").addClass('hidden');
    return false;
  });
  
  $("#category a[href=close]").click(function(){
    $("#category").addClass('hidden');
    return false;
  });
  $("#search-side-bar .close a").click(function(){
    $("#search-side-bar").addClass('hidden');
    $("#cat-side-bar").removeClass('hidden');
    return false;
  });
  
  function getIconClass(category){
    icon_class = 'icon-save';
    if(category=='Digital Company'){
      icon_class = 'icon-save';
    }else if(category=='Investor'){
      icon_class = 'icon-money';
    }else if(category=='Coworking Space'){
      icon_class = 'icon-print';
    }else if(category=='Accelerator'){
      icon_class = 'icon-dashboard';
    }else if(category=='Freelancer'){
      icon_class = 'icon-pencil';
    }else if(category=='Startup'){
      icon_class = 'icon-fire';
    }else if(category=='Startup'){
      icon_class = 'icon-biefcase';
    }
    return icon_class;
  }
  
  $(".left-menu a.category_item").click(function(e){
    e.preventDefault();
    $(".category_item").removeClass('active');
    $(".location_item").removeClass('active');
    $(this).addClass('active');
    $("#fading-image").show();
    $("#mymap").gmap3({action:'clear'});
    $url = $(this).attr("href");
    category = $(this).attr("rel");
    icon_class = getIconClass(category);
    data_obj = {category: category}
    $("#category .title-copy").html(category);
    $.ajax({
      type: "GET",
      url: $url,
      data: data_obj,
      success: function(result) {
        $("#category.left-menu").removeClass('hidden');
        list = result;
        $("ul#locations li").addClass('hidden');
        $("#category .inside #company").text('');
        for(i=0; i<list.length; i++){
          id = list[i].data.id;
          $("li#"+id).removeClass('hidden');
          data= '{"pos": {"lat": ' + list[i].lat + ', "lng": ' + list[i].lng + '}, "name": "' + list[i].data.company + '", "email": "' + list[i].data.email + '", "address": "' + list[i].data.address + '", "id": "' + list[i].data.id + '"}';
          inside_content="<div class='category company'><a href='#', data='" + data + 
          "', class='location_item'><i class='" + icon_class + 
          "'></i></a><span class='title'><a href='#', data='" + data + "', class='location_item'>" +
          list[i].data.company + "</a></span><a href='#', data='" + data + 
          "', class='location_item'><i class='icon-arrow-right arrow-icon'></i></a><div class='info'><div class='address'>" + 
          list[i].data.address + "</div><div class='city'>" + list[i].data.email + "</div></div></div>";

          $("#category .inside #company").append(inside_content);
        }
        addMarkers(list);
        $("#fading-image").hide();
      }
    });
  });     

  $(".location_details").live('click', function(){
    $("li#"+$(this).attr('href')+" a").click();
    return false;
  });
  
  $(".location_item").live('click', function(){
    $(".location_item").removeClass('active');
    $(this).addClass('active');
    data = JSON.parse($(this).attr("data"));
    pos = data.pos;
    latLng = new google.maps.LatLng(pos.lat, pos.lng);
    content = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.name + "</h3>" + data.email + "<br/>" + data.address + "</div></div>";
    make_overlay(latLng, content, data.id);            
    $("#mymap").gmap3({action: 'setCenter', args:[latLng]});
    $("#mymap").gmap3('get').setZoom(16);
  })
  
  $(".marker_info .close a").live('click', function(e){
    $("#mymap").gmap3({action: 'clear', name: 'overlay'});
  });

  var cluster;  
  $(function(){
    sreen_w=screen.width - 420;
    $("#mymap").css('width', sreen_w);
    $("#map_wrapper").css('width', sreen_w);
    $('#mymap').gmap3({ action: 'init',
      options:{
        center:[39.0997265, -94.5785667],
        zoom: 12,
        minZoom: 10
      },
      callback: function(map){
        waitForBounds(map);
      },
      events:{
        click: function(map, event){
          //addMarkerToCluster($(this), event.latLng);
        },
        rightclick: function(map, event){
          //addMarkersToCluster($(this), event.latLng);
        }
      }
    });
  });
      
  function waitForBounds(map){
    var ne, sw, bounds = map.getBounds();
    if (!bounds){
      google.maps.event.addListenerOnce(map, 'bounds_changed', 
        function() {
          waitForBounds(map)
        }
      );
      return;
    }
    ne = bounds.getNorthEast();
    sw = bounds.getSouthWest();
    list = #{Point.get_points(@locations).to_json.html_safe}
    addMarkers(list);
  }
  
  function addMarkers(list){
    $('#mymap').gmap3(
      { action: 'addMarkers',
        radius: 100,
        markers: list,
        clusters:{
      	  // This style will be used for clusters with more than 0 markers
      		0: {
       		  content: '<div class="cluster cluster-1">CLUSTER_COUNT</div>',
       			width: 53,
       			height: 52
       		},
       	  // This style will be used for clusters with more than 20 markers
        	20: {
        	  content: '<div class="cluster cluster-2">CLUSTER_COUNT</div>',
        		width: 56,
        		height: 55
        	},
          // This style will be used for clusters with more than 50 markers
        	50: {
            content: '<div class="cluster cluster-3">CLUSTER_COUNT</div>',
         	  width: 66,
          	height: 65
          }
        },
        callback: function(ref){ // get the cluster reference and save it in global variable
          cluster = ref;
        },
        cluster:{
          events:{
            click: function(cluster, event, data) {
              points = getPoints(data.latLng, list)
              if(points.length > 1){
                companies=""
                for(i=0; i< points.length; i++){
                  companies = companies + "<li><a class='location_details' href='" + points[i].data.id + "'>" + points[i].data.company + "</a></li>";
                }
                content = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + points.length + " Companies here: </h3>"+ companies + "</div></div>";
                make_overlay(data.latLng, content, '');
              }
              cluster.map.panTo(data.latLng);
              cluster.map.setZoom(cluster.map.getZoom() + 1);
            },
            mouseover: function(cluster, event, data){
              //$(cluster.getDOMElement()).css('border', '1px solid #FF0000');
            },
            mouseout: function(cluster, event, data){
              //$(cluster.getDOMElement()).css('border', '0px');
            }
       	  }
        },
        marker: {
          options: {
            icon: "../assets/bg-digital.png"
          },
          events:{  
            click: function(marker, event, data){
              pos = marker.getPosition();
              content = "<div class='marker_info'><div class='right close'><a href='#'>x</a></div><div class='info'><h3>" + data.company + "</h3>" + data.email + "<br/>" + data.address + "</div></div>";
              make_overlay(pos, content, data.id);            
              marker.map.panTo(pos);
              marker.map.setZoom(16);
            },
            mouseout: function(){
              //$(this).gmap3({action:'clear', name:'overlay'});
            }
          }
        }
      }
    );
  }
  
  function make_overlay(pos, content, id){
    $(".loc_info").addClass('hidden');
    $("#location_info_" + id).removeClass('hidden');
    $(".location_item").removeClass('active');
    if(id != ''){
      $("li#"+id+" a").addClass('active');
    }
    $("#mymap").gmap3({action:'clear', name:'overlay'});
    $("#mymap").gmap3(
      { action:'clear', name:'overlay'},
      { action:'addOverlay',
        latLng: pos,
        content: content,
        offset: {
          x: 10,
          y: -10
        }
      }
    );  
  }
  
  function getPoints(pos, list){
    points = []
    for (i = 0; i < list.length; i++){
      if(list[i].lat.toFixed(7) == pos.lat().toFixed(7) && list[i].lng.toFixed(7) == pos.lng().toFixed(7)){
        points.push(list[i]);
      }
    }
    return points;
  }
