.left-menu.left-haft-bottom
  .background.news-feed
    .title
      %span.title-copy
        News Feed
    .inside.inside-full
      %ul.list-news-feed
        - @news_feeds.each do |feed|
          %li
            = link_to image_tag(feed.user.profile_image_url), "http://twitter.com/#{feed.user.screen_name}", target: '_blank'
            %div
              = link_to feed.user.name, "http://twitter.com/#{feed.user.screen_name}", target: '_blank'
              = feed.text
            %span.time= time_ago_in_words(feed.created_at).gsub(' hour', 'h').gsub('about ', '').gsub(' minute', 'm')
